/* line 3, ../scss/editor.scss */
.typography {
  color: #444;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding: 2px 6px;
  -webkit-font-smoothing: antialiased;
}

/* line 17, ../scss/editor.scss */
.typography p,
.typography blockquote,
.typography ul,
.typography ol,
.typography dl,
.typography table,
.typography fieldset {
  margin: 1em 0;
}

/* line 20, ../scss/editor.scss */
.typography small {
  font-size: 80%;
}

/* line 27, ../scss/editor.scss */
.typography h1,
.typography h2,
.typography h3,
.typography h4,
.typography h5,
.typography h6 {
  color: #333;
  font-family: "proxima-nova-condensed", sans-serif;
  margin: 1em 0 0.5em;
  line-height: 1.1;
  font-weight: 600;
  text-rendering: optimizelegibility;
}

/* line 35, ../scss/editor.scss */
.typography h1 {
  font-size: 45px;
  margin: .75em 0 .5em;
}

/* line 39, ../scss/editor.scss */
.typography h2 {
  font-size: 36px;
}

/* line 42, ../scss/editor.scss */
.typography h3 {
  font-size: 30px;
}

/* line 45, ../scss/editor.scss */
.typography h4 {
  font-size: 24px;
}

/* line 48, ../scss/editor.scss */
.typography h5 {
  font-size: 20px;
}

/* line 51, ../scss/editor.scss */
.typography h6 {
  font-size: 18px;
}

/* line 56, ../scss/editor.scss */
.typography ul,
.typography ol {
  padding: 0;
  margin-left: 24px;
}

/* line 63, ../scss/editor.scss */
.typography ul ul,
.typography ul ol,
.typography ol ol,
.typography ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 67, ../scss/editor.scss */
.typography hr {
  clear: both;
  margin: 1.5em 0;
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}

/* ---------------------------------------------------------------
Tables
--------------------------------------------------------------- */
/* line 79, ../scss/editor.scss */
.typography table {
  max-width: 100%;
  background-color: transparent;
}

/* line 83, ../scss/editor.scss */
.typography th {
  text-align: left;
}

/* line 86, ../scss/editor.scss */
.typography .table {
  width: 100%;
  margin-bottom: 20px;
}

/* line 95, ../scss/editor.scss */
.typography .table thead > tr > th,
.typography .table tbody > tr > th,
.typography .table tfoot > tr > th,
.typography .table thead > tr > td,
.typography .table tbody > tr > td,
.typography .table tfoot > tr > td {
  padding: 8px;
  font-size: 15px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

/* line 102, ../scss/editor.scss */
.typography .table thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}

/* line 111, ../scss/editor.scss */
.table caption + thead tr:first-child th,
.table colgroup + thead tr:first-child th,
.table thead:first-child tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

/* line 114, ../scss/editor.scss */
.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

/* line 117, ../scss/editor.scss */
.table .table {
  background-color: #ffffff;
}

/* line 125, ../scss/editor.scss */
.table-condensed thead > tr > th,
.table-condensed tbody > tr > th,
.table-condensed tfoot > tr > th,
.table-condensed thead > tr > td,
.table-condensed tbody > tr > td,
.table-condensed tfoot > tr > td {
  padding: 5px;
}

/* line 128, ../scss/editor.scss */
.table-bordered {
  border: 1px solid #dddddd;
}

/* line 136, ../scss/editor.scss */
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}

/* line 140, ../scss/editor.scss */
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

/* line 144, ../scss/editor.scss */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}

/* line 148, ../scss/editor.scss */
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
