
.upnext__header{
	font-size: 80px;
	text-align: center;
	border-top: 40px;
	margin-top: 0px;
	color: #c1c1c1;
}
.main-content__header{
	// text-align: center;
	border-top: none;
	color: #fff;
	// margin-top: 0px;

	&--centered{
		text-align: center;
	}
}
.lecture-details li{
	list-style-type: none;
}
.lecture-holder-header{
	margin-bottom: 20px;
}
.lecture-holder-title{
	color: #fff;
}
.lecture-upcoming-holder__link{
	color:#fff;
	margin-top: 0px;
}
.lecture-card-big{
	padding-bottom: 30px;
}
.lecture-upcoming-holder__header{
	margin-top: 0px;
}
.picture_cell{
	padding-bottom:20px;
}
.sidenav{
	
	background-color:#262626;
	border: none;
}
.sidenav__item{
	border-bottom: none;
}
.sidenav__link{
	color: #e5e5e5;
	
}
.sidenav__link--hover{
	color: #e2393e;
}

.lecture__image{
	@include breakpoint(large);
	position: -webkit-sticky;
	top: 0;
	margin-top: 80px;

}
