
.upnextprev__header{
	font-size: 32px;
	text-align: center;
	border-top: 40px;
	padding-top: 20px;
	color: #c1c1c1;
	text-transform: uppercase;
	font-family: proxima-nova-condensed;
	font-weight: normal;
}
.main-content__header{
	// text-align: center;
	border-top: none;
	color: #fff;
	// margin-top: 0px;

	&--centered{
		text-align: center;
	}
}
.lecture-details{
	color: #F5F5F5;
	li{
		list-style-type: none;
	}
}


.lecture-upcoming-holder{
	padding-top: rem-calc(10);

	@include breakpoint(large){
		padding-top: rem-calc(30);
	}

	&__header{
		margin-top: 0px;
	}

	&__subheader{
		font-size: rem-calc(28);
		font-weight: bold;
	}

	&__link{
		color:#fff;
		margin-top: 0px;		
	}
}

.lecture__image{
	@include breakpoint(large);
	position: -webkit-sticky;
	top: 0;
	margin-top: 80px;

}

.lecture-card-big{
	padding-bottom: 30px;
}
