body{
	background-size: cover;
	background-color: #000;
	background-position-y: 170px;
	color:#fff;
}
.main-content__container{
	background: #000000;
	box-shadow: inset 0px 10px 13px -7px rgba(0,0,0,0.31);
}

.sidenav__section-title{
	border-color: darken($highlight,10);
}

.main-content__header h1{
	color:#fff;

}
.body--dark-header .breadcrumb__anchor{
	color: #F5F5F5;
}
..body--dark-header{
	color: #303030;
}
.main-content__text p{
	color:#D3D3D3;
}
.breadcrumb__listitem{
	color:#fff;
}
.nav__menu-icon--light-header{
	color:#fff;
}
.button, input.action {
	color: #fff;
	background: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: rem-calc(22);
}
.lecture-details{
	color: #F5F5F5;
}
.main-content__text{
	color: #F5F5F5;
}
#uiowa-bar #uiowa-search .links a{
	color: white;
}

.background-image{
	box-shadow: inset -2px 12px 26px -10px rgba(0,0,0,0.63);
}